html {
  overflow-y: scroll;
}

.flex {
  display: flex;
  align-items: center;
  gap: 2%;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.w-6 {
  width: 24px;
}

.h-6 {
  width: 24px;
}

.chessboard .main-wrap {
  width: 99%;
  max-width: 600px;
}

.chessboard .buttons {
  margin-bottom: 10px;
}

coords.files {
  bottom: 5px !important;
}

.move-container {
  min-height: 250px;
}

h1 {
  font-size: 48px !important;
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chessboard {
  margin-top: 10%;
}

.svg-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.svg-container img {
  max-width: 36px;
  height: auto;
}

.svg-container .npm-svg {
  max-width: 60px;
}

.version-number {
  text-align: center;
  margin-top: 2rem;
}

.promotion-container {
  background-position: center;
  background-repeat: no-repeat;
}

.buttons {
  padding: 5px;
  text-align: center;
}

.buttons .activated {
  background-color: #888;
}

.buttons button {
  background-color: #555;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
